#kyle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 10em;
}

#kyle h1 {
  color: #ffffff;
  font-size: 6em;
  line-height: 1.2em;
}

#kyle p {
  color: rgba(250, 250, 250, 0.7);
}

#kyle .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.303);
}

#kyle video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}




.kyle {
	background: url('../img/den.png') right bottom no-repeat;
	background-size: contain;
	padding:110px 0 100px 0;
	height:auto;
	background-color: #FBFBFB;
}
.kyle h1 {
	font-size: 120px;
	letter-spacing: -8px;
	margin: 0;
	font-weight: 550;
	line-height: 95px;
	text-transform: none;
}
.kyle h1 span {
	color:#a1a9b0;
	/* display:inline-block; */
}
.kyle h3 {
	font-size: 20px;
	margin:0;
	padding:0;
	opacity:0.5;
	color: #E04343;
	letter-spacing: 18px;
	line-height: 50px;
	text-transform: uppercase;
}
.kyle p {
	letter-spacing:1px;
	color:#fff;
	font-size: 15px;
}
/* Boucing Arrow Animation */
@keyframes arrowbounce {
	from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-moz-keyframes arrowbounce {
	/* Firefox */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-webkit-keyframes arrowbounce {
	/* Safari and Chrome */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-o-keyframes arrowbounce {
	/* Opera */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
.scrollto {
	padding: 150px 0px 0px 0px;
	display:block;
	color:#FFF;
	text-decoration:none;
	width:200px;
	margin:0 auto;
	border-bottom: none;
}
.scrollto--arrow {
	padding:10px;
}
.scrollto--arrow img {
	animation:arrowbounce 1s alternate infinite;
	-moz-animation:arrowbounce 1s alternate infinite;
	/* Firefox */-webkit-animation:arrowbounce 1s alternate infinite;
	/* Safari and Chrome */-o-animation: arrowbounce 1s alternate infinite;
	/* Opera */
}



@media (max-width: 992px) {
  #kyle h1 {
    font-size: 4em;
    line-height: normal;
  }
}


#kyle {
    padding-top: 0em;
  }



  @media (max-width: 770px) {
  #kyle h1 {
    font-size: 3.5em;
  }
}