


.circle {
    width: 200px;
    height: 200px;
    background-color: #222427;
    border-radius: 50%;
    margin: 2rem auto;
    display: flex;
    border: 3px solid #37b0d8;
    border-top: 3px solid #0254ec;
   
}
.circle2 {
    width: 150px;
    height: 150px;
    background-color: #252629;
    border-radius: 50%;
    border: 3px solid #282529;
    border-top: 3px solid #66bfe9;
    align-self: center;
    display: flex;
    margin: auto;
    
}
.circle2 .fluid-img{
    width: 100%;
    max-width: 160px;
    height: auto;
    border-radius: 50%;
    align-self: center;
    margin: auto;
}
#song-name{
    color: #15253a;
    font-weight: 100;
    text-transform: none;
    font-style: italic;
}
.circle.animate {
    animation: anticlock 6s infinite linear;
}
.circle2.animate {
    animation: clockwise 6s infinite linear;
}
.media-btn {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin: 1rem;
}
@keyframes anticlock {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
@keyframes clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@media (max-width: 900px) {
    #music.container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .collection {
        width: 90%;
        flex: 1;
        margin: 1.5rem auto;
    }
    .playbox {
        flex: 1;
        width: 90%;
    }
}
.card-body {
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    background-color: #c7d8fc8c;
    margin: 1rem auto;
    border-radius: 8px;
}
.card-body nav{
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}
.card-body .about{
    padding: 1rem;
}
.about .center {
    text-align: center;
}