.hello {
  max-height: 1000px;
  padding-right: 300px;
  padding-left: 300px;


}



.hello h1 {
	font-size: 30px;
	letter-spacing: 0px;
	margin: 0;
	font-weight: 400;
	
	text-transform: none;
}
.hello h1 span {
	color:#a1a9b0;
	/* display:inline-block; */
}




.hello h3 {
	font-size: 30px;
	margin:0;
	padding:0;
	opacity:0.5;
	color: #E04343;
	letter-spacing: 10px;
	line-height: 35px;
	font-weight: 400px;
	text-transform: none;
	
}
.hello p {
	letter-spacing:1px;
	color:#fbfbfb;
	font-size: 20px;
    text-align: center;
    padding: 2em
    
}



#hello.container {
    display: flex;
    padding-top: 5em;
    padding-right: 3;
    padding-left: 3;
}


#hello .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.collection {
    width: 50%;
    flex: 1;
    margin-top: 1.5rem;
    padding: 3rem;
    
    text-align: right;
}
.lead {
    max-width: 600px;
    font-weight: 400;
    color: #15253a;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
}
.musicbox {
    margin-top: 1rem;
}
.musicbox ul li h3{
    color: #15253a;
    font-weight: 400;
}

.musicbox ul li h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: normal;
}
.hor {
    margin: 1rem 0 1rem 0;
    max-width: 500px;
    background-color: #c7d8fc;
}
.playbox {
    flex: 1;
    margin: 0.5rem auto;
    text-align: center;
    border-radius: 8px;
    background-color: #c7d8fc8c;
    
    
}
nav {
    display: block;
    margin: 3rem auto;
}
ul li{
    list-style: none;
    display: inline;
    margin: 1rem;
    padding: 1rem;
    line-height: 3rem;
}
ul li a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--white-color);
    transition: all 300ms;
}
ul li a:hover {
    background-color: #c7d8fc8c;
}
.controller {
    margin: 2.5rem auto;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: #222427;
    border-radius: 50%;
    margin: 2rem auto;
    display: flex;
    border: 3px solid #37b0d8;
    border-top: 3px solid #0254ec;
   
}
.circle2 {
    width: 150px;
    height: 150px;
    background-color: #252629;
    border-radius: 50%;
    border: 3px solid #282529;
    border-top: 3px solid #66bfe9;
    align-self: center;
    display: flex;
    margin: auto;
    
}
.circle2 .fluid-img{
    width: 100%;
    max-width: 160px;
    height: auto;
    border-radius: 50%;
    align-self: center;
    margin: auto;
}
#song-name{
    color: #15253a;
    font-weight: 400;
}
.circle.animate {
    animation: anticlock 6s infinite linear;
}
.circle2.animate {
    animation: clockwise 6s infinite linear;
}
.media-btn {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin: 1rem;
}
@keyframes anticlock {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
@keyframes clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@media (max-width: 900px) {
    #home .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .collection {
        width: 90%;
        flex: 1;
        margin: 1.5rem auto;
    }
    .playbox {
        flex: 1;
        width: 90%;
    }
}
.card-body {
    width: 100%;
    max-width: 100px;
    min-height: 200vh;
    background-color: #c7d8fc8c;
    margin: 1rem auto;
    border-radius: 8px;
}
.card-body nav{
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}
.card-body .about{
    padding: 1rem;
}
.about .center {
    text-align: center;
}